_*.bat
_*.txt
.babelrc
.coveralls.yml
.gitattributes
.nyc_output
.travis.yml
.tscache
.vscode
node_modules
npm-debug.log
rollup.config.js
src
temp
test
tsconfig.json
tslint.json
yarn-error.log
yarn.lock
